
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
}


/* The following rules will style header */

#maincontent {
	position: relative;
}

header {
	width: 100%;
	background-color: #f8f8f8c7;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}

#upper-menu {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

#logo-container {
	width: 40%;
	height: auto;
	margin-top: 2%;
	margin-bottom: 0;
}

#logo {
	max-width: 100%;
	width: 100%;
	height: auto;
}

#top-menu {
	width: 56%;
}

#top-menu ul {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	padding: 0;
	margin-right: 1%;
}

#top-menu ul li {
	margin-right: 4%;
}

#top-menu a {
	text-decoration: none;
	color: #8b0000;
	font-size: 14px;
}

#top-menu a:hover {
	text-decoration: underline;
}

#header_nav {
	margin: 0;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

#header_nav_ul {
	width: 100%;
	display: flex;
	list-style-type: none;
	margin: 0;
  margin-right: 2%;
	justify-content: flex-end;
	font-size: 22px;
	padding: 0;
}

.header_nav_ul_li {
	/* margin: 0 1%; */
	position: relative;
}

#header_nav_ul a {
	text-decoration: none;
}

.a_color {
	color: #8b0000;
	font-weight: 700;
	display: block;
 	padding: 14px 14px;
	box-shadow: 0;
	transition: background-color 0.3s ease-in-out;
	transition: box-shadow 0.1s ease-in-out;
}

.a_color:hover, .header_nav_ul_li:hover .a_color { /* When we point at any list item from the dropdrown, this allows the nav bar li to be highlighted */
	background-color: #f8f8f8;
	box-shadow: inset 0px 3px black;
}

.header-2 {
	display: none;
	width: 100%;
	background-color: #f8f8f8c7;
	z-index: 100;
}

.show-fixed {
	display: block;
	position: fixed;
	top: 0;
	height: 65px;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2)
}

/* Drop down*/

.drop-down {
	visibility: hidden; /* this hides the dropdown */
	opacity: 0; /* The content is transparent */
	min-width: 14rem;
	position: absolute;
	z-index: 1;
	box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.2);
	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.drop-down ul {
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: white;
}

.drop-down ul li {
	margin: 0;

}

.drop-down li a {
	font-weight: 700;
	font-size: 16px;
	color: #0b4452;
	display: block;
	padding: 10% 12%;
}

.drop-down li a:hover {
	color: white;
	background-color: black;
}

#ul_dropdown_1 li:nth-child(-n+3), #ul_dropdown_2 li:nth-child(-n+2){
	border-bottom: 1px #80808047 solid;
}


.header_nav_ul_li:hover .drop-down {
	visibility: visible; /*this show the dropdown*/
	opacity: 1;
	transition-delay: 0s, 0s, 0.3s;  /* this removes the transition delay so the menu will be visible while the other styles transition. Each number represent the time delay on the transition: all, visibility, and z-index properties. */
}

 /* pop-up header and fixed when scrolling down */

#container-header-2 {
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: #f8f8f8;
}

#site-name{
	width: 5%;
	margin-left: 2%;
}

#site-name img {
	width: 50px;
	height: 61px;
}

#pop-up-header {
	width: 90%;

}

#pop-up-header ul {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	padding: 0;
	margin: 2% 0;
	margin-right: 7%;
}

#pop-up-header ul li {
	margin-right: 1%;
}

#pop-up-header ul a {
	text-decoration: none;
	color: #8b0000;
	font-size: 14px;
	padding: 1px 5px;
}

#pop-up-header ul a:hover {
	text-decoration: underline;
}

#pop-up-header ul li:nth-child(-n+6) a {
	font-weight: 900;
}








/* We going to add styles to the carousel */

#slides-container {
	width: 100%;
	height: 722px;
	position: relative;
	margin: 0;
	padding: 0;
}

#covid-19 {
	background-image: url(../images/corona-article.jpg);
}

#remote-learning {
	background-image: url(../images/remote.jpg);
}

#town-hall {
	background-image: url(../images/townhall-meeting.jpg);
}

#ps130 {
	background-image: url(../images/auditorium.jpeg);

}

/* This selector will also be use for javascript */

.slide {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;     / We going to use this for media-query *100% 100%*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center center;
	position: relative;
}

.slides-content {
	width: 75%;
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	text-align: center;
}

.slides-content h2 {
	color: white;
	text-shadow: black 0.1em 0.01em 0.1em;
	font-size: 2.5em;
	font-weight: 500;
	margin-bottom: 40px;
	cursor: default;
}

.slides-link {
	margin-top: 40px;
}

.slides-link a {
	color: white;
	font-size: 1.8em;
	text-decoration: none;
	background-color: #f43c20;
	padding: 20px 30px;
	border-radius: 15px;
}

#slide-link-header a {
	color: white;
	text-decoration: none;
}

#slide-link-header a:hover {
	text-decoration: underline;
}

/* This style for next, prev buttons */

.prev, .next {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	color: white;
	font: bold;
	cursor: pointer;
	padding: 16px;
	margin-top: -22px;
	font-size: 2.5em;
	transition: 0.6s ease;
	border-radius: 50%;
	user-select: none;
}

.prev {
	margin-left: 2%;
}

.next {
	right: 0;
	margin-right: 2%;
}

.prev:hover, .next:hover {
 	background-color: #01010185;
}

.prev p, .next p {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Style for toggle circles */

#toggle-circle {
	position: absolute;
	top: 83%;
    	left: 50%;
    	transform: translate(-50%, -50%);
}

#toggle-circle ol {
	display: flex;
	list-style: none;
	padding: 0;
}

.circle {
	height: 18px;
  	width: 18px;
	background-color: #f8f8f8a1;
	margin: 0 6px;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	cursor: pointer;
}

.active, .circle:hover {
	background-color: #9e9e9ea6;
}

/* Fading effects */

.fade {
	animation-name: fade;
	animation-duration: 1.4s;
}

@keyframes fade {
	from {opacity: .7}
	to {opacity: 1}
}

/* Academic Intro */

#academics {
	padding: 0 0 2%;
}

#academic-intro {
	font-family: Roboto Slab, Times, serif;
	margin: 0 auto;
	padding: 10% 0;
	cursor: default;
	display: flex;
	justify-content: center;
	width: 1050px;
}

#quote {
	width: 35%;
}

#quote h2 {
	color: #8b0000;
	font-size: 2.4em;
	position: relative;
	margin: 0;
}

#quote h2::before {	/* Division line */
	content: "";
	position: absolute;
	height: 112px;
	width: 6px;
	background-color: black;
	right: 0;
	top: 50%;
	transform: translate(50%,-50%);
}

#academic-details {
	font-style: italic;
	font-size: 1.3em;
	color: #626262;
	width: 50%;
	padding-left: 4%;
}

#academic-details p {
	margin: 0;
}

.outer_criterion_header {
	width: 160px;
	margin: 0 auto;
}


.outer_criterion_header a {
	text-decoration: none;
	color: #f63c21;
}

.outer_criterion_header a:hover {
	color: #626264;
}

#subjects_container {
	width: 1100px;
	margin: 0 auto;
	height: auto;
	display: flex;
	justify-content: space-between;
	padding: 2% 0 0;
}

.criteria_header {
	font-family: Roboto Slab, Times, serif;
	font-size: 2.1em;
	color: #8b0000;
	font-weight: 300;
	margin: 0;
	text-align: center;
}

.subjects {
	width: 15%;
}

.image_container {
	overflow: hidden;
}

.subjects img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0;
	padding: 0;
	transition: transform .2s ease-out;
}

.subjects:hover img  {
	transform: scale(1.1);
}

.subject_title {
	background-color: black;
	margin: 0;
	padding: 5% 0;
}

.subject_title h3 {
	font-size: 1.4em;
	max-width: 100%;
	margin: 0;
	color: white;
	text-align: center;
	font-weight: 300;
}

.subject-link {
	text-decoration: none;
}

/* News */

#news {
	padding: 2% 0;
	width: 100%;
	background-color: #9e9e9e36;
}

#news_sections-container {
	width: 100%;
	height: 36px;
}

#news_sections {
	width: 200px;
	height: 32px;
	margin: 0;
	margin-right: 25px;
	position: relative;
	float: right;
}

#news_sections .select-box {
	width: 100%;
	height: 32px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	font-size: 16px;
	border: none;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	padding: 5px 15px;

}

#news_sections:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 32px;
	width: calc(100% - 30px);
	background: #fff;
	z-index: 0;
	border: 1px solid black;
}

#news_sections:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 32px;
	background-color: #f8f8f8;
	background-image: url(../images/down-arrow.png);
	background-position: center;
	background-repeat: no-repeat;
	z-index: 0;
	border-right: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.select-box:focus {
  	outline: 0;
}

.box {
	height: auto;
	display: none;
}

.new_category {
	width: 100%;
	display: flex;
	margin-top: 1%;
}

article {
	width: 33.33%;
	position: relative;
}

.news-image-container {
	width: 100%;
    	background: linear-gradient(to top, #3a39396b 1%, #3a393973 2%, transparent 80%);
}

.news-image-container img{
	width: 100%;
	height: auto;
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: -1;
}

article .article-title-text {
	position: absolute;
 	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	width: 90%;
	margin: 0;
	font-family: Roboto Slab, Times, serif;
	font-size: 1.4em;
	font-weight: 500;
	line-height: 1.1em;
}

article .hover {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .3s ease;
	background-color: #0b4452e0;
}

article:hover .hover {
	opacity: 1;
}

article .normal {
	transition: .3s ease;
}

article:hover .normal {
	opacity: 0;
}

.fade_news {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
 	from {opacity: .4}
	to {opacity: 1}
}

#school_campus {
	width: 100%;
	height: auto;
	background-color: #00000026;
	margin: 2% 0 0;
}

#school_campus img {
	width: 100%;
	height: auto;
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: -1;
}

/* Calendar */
#calendar-flex {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding-bottom: 2rem
}

#upcoming-event {
	width: 15%;
	font-family: Roboto Slab, Times, serif;
	color: #f63c21;;
}

#upcoming-event h2 {
	padding: 12% 12% 7% 2%;
  font-size: 2.5em;
}

#show_all {
	float: left;
	width: 60%
}

#show_all p {
	padding: 15% 0%;
	color: #0b4452;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	border: black 2px solid;
	transition: .3s ease;
}

#show_all a {
	text-decoration: none;
}

#show_all p:hover {
	color: white;
	background-color: black;
}


#month-day-time {
	width: 70%;
}

#days-container-outer {
	padding-top: 10%;
}

.days-container {
	width: 100%;
	display: flex;
	position: relative;
}

.days {
	width: inherit;
	position: relative;
}

.days-content {
	padding: 3% 8% 8% 25%;
}

.days-content h3 {
	font-size: 1.1em;
}

.days-content a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.days-content a:hover {
	text-decoration: underline;
}

.month-day {
	position: absolute;
	top: 3%;
	left: 0;
	border: solid #626262 2px;
  border-radius: 50%;
	padding: 2% 3%
}

.time-container {
	font-weight: bold;
	font-size: 0.9em;
}

.month, .day {
	display: block;
}

.month {
	color: #8b0000;
	font-size: 1.5em;
}

.day {
	text-align: center;
	font-size: 1.2em;
}

#memorial {
	color: red;
	cursor: default;
}

#memorial-ribbon {
    width: 15%;
    display: inline-block;
    margin: 1em 0%;
}

/* Footer */

footer {
	width: 100%;
	background-color: #8b0000;
	border-top: black 6px solid;
}

#upper-footer {
	display: flex;
	justify-content: center;
	padding: 4% 6% 2%;
	color: white;
}

.f_menu {
	flex: 1; /* This will help the flex-items be evenly spaced out */
}

.f_nav {
	width: 70%;
	margin: 0 auto;
}

.f_nav ul {
	list-style: none;
	padding: 0;
}

.f_nav ul li {
	padding-bottom: 11%;
}

.f_nav a {
	text-decoration: none;
	justify-content: space-between;
	color: white;
	font-weight: bolder;
}

.f_nav a:hover {
	color: #ffd485;
}

.f_nav a i {
	width: 15%;
	margin-right: 8%;
}

#lower-footer {
	display: flex;
	justify-content: space-around;
	color: white;
	background-color: #5d0902;
	padding: 2rem 0;
	font-size: 0.8em;
}

.lf-items {
	width:30%;
}

.lf-items ul, p {
	margin: 0;
}

#lf-items-right  {
	text-align: end;
	margin-left: 6%;
}

#lf-items-center {
	text-align: center;
}

#lf-items-right ul {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	padding: 0;
}

#lf-items-right ul li:nth-last-child(-n+2) {
	border-left: white solid 2px;
	padding-left: 2%;
	margin-left: 2%;
}

#lf-items-right ul li:nth-last-child(-n+2) {

}

#lf-items-right a {
	color: white;
	text-decoration: none;
}

#lf-items-right a:hover {
	color: #ffd485;
}
